* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
  color: white;
  /* background: black;  ; */
  /* border-radius: 10px; */
}

.center-this {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(170, 236, 233), rgb(78, 194, 169));
  background-position: top;
  background-size: cover;
  align-items: center;
}

.app-grid-container {
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45%;
  gap: 1% 1%;
  grid-template-areas: ". ." ". .";
  height: 100%;
  max-height: 100%;
  width: 100vw;
}

.app-grid-square {
  position: relative;
  max-height: 98%;
  width: 100%;
  /* border: 2px solid red; */
  border-radius: 10px;
  color: #ffffff;
  transition: filter .5s, transform .25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
  font-size: 3em; 
  overflow: clip;
}

.card-title-text {
  z-index: 999;
  color: rgb(73, 73, 73);
  font-size: 2vw;
  font-weight: bold !important;
  text-shadow: 2px 2px 2px rgb(75, 75, 75);
  border-radius:5px;
  padding-top: .5%;
  padding-bottom: .5%;
  letter-spacing: .5vw;
  transition: margin-top .25s, font-size .5s, color .5s, text-shadow .25s, letter-spacing .5s;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.card-title-text:hover {
  cursor: pointer; 
  letter-spacing: .8vw;
  color: rgb(255, 255, 255);

}

.app-grid-square:hover > .card-title-text {
  z-index: 999;
}

.logo-central {
  position: fixed;
  height: 20%;
  left: 45%;
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: .5s;
  opacity: .99;
  transition: all .25s;
  z-index: 1  ;
  background-color: none !important ;
  cursor: pointer;
}

.logo-central:hover {
  height: 21%;
  left: 44.75%;
}

.shader-layer {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  background-color: rgba(0, 0, 0);
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

