.projects-wrapper-flex {
   display: flex;
   flex-direction: row;
   height: 95%;
   max-width: 44vw;
   padding-left: 5%;
   overflow-x: scroll;
   z-index: 99;
   overflow-y: visible !important;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.projects-wrapper-flex::-webkit-scrollbar {
   display: none;
}

.projects-flex-item {
   flex: 1;
   min-width: 44vw;
   margin-right: 10%;


}

.not-a-flex {
   top: 95%;
   font-size: 22px;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   color: rgb(255, 255, 255);
   z-index: 99999999999999999999 !important;
   transition: all .25s;
}

::-webkit-full-page-media, _:future, :root .not-a-flex {
   top: 75%;
   left: 10%;
   background: black;
   font-weight: bold;
   pointer-events: none;
}

.not-a-flex:hover {
   font-weight: bold;
}

.nav-arrow {
   clear: both;
   position: fixed;
   max-height: 25px;
   min-height: 25px;
   position: relative;
   z-index: 9999999999999999999999999 !important;
   filter: invert(45%);
   transition: all .5s;
}

.not-a-flex:hover > .nav-arrow {
   transform: translateX(20%) scale(1.2);
}
