.projects-wrapper-flex {
   display: flex;
   flex-direction: row;
   height: 95%;
   max-width: 44vw;
   padding-left: 5%;
   overflow-x: scroll;
   overflow-y: visible !important;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.projects-wrapper-flex::-webkit-scrollbar {
   display: none;
}

.projects-flex-item {
   flex: 1;
   min-width: 44vw;
   margin-right: 10%;


}

.not-a-flex {
   top: 45%;
   font-size: 22px;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   color: rgb(116, 116, 116);

}

.not-a-flex:hover {
   color: rgb(116, 116, 116);
   font-weight: bold;
}

.nav-arrow {
   /* position: fixed; */
   max-height: 50px;
   min-height: 45px;
   z-index: 999;
   filter: invert(55%);
}

