.resume-pdf {
   position: relative;  
   border: 2px solid white;
   border-radius: 30px !important;
   overflow: visible;
   margin-top: 70% !important;
   z-index: 99999999999999999999999 !important;

}

.resume-download {
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase !important;
   transition: all .4s;
   letter-spacing: .5vw;
   font-weight: bold !important;;
   padding: 1%;
   font-size: 20px;
   position: fixed;
   z-index: 99999999999999999999999999999999;
}

.resume-wrapper-top-level {
   height: 500px;
   margin-left: -145%;
   margin-top: -40%;
   width: 300px;
   z-index: 999999999999999999999999999 !important;

}

.resume-download:hover {
   transform: scale(1.025);
   text-shadow: 1px 1px 5px rgb(0, 255, 255);
}

