.card-wrapper {
   position: relative;
   height: 95%;
   width: 99%;
   /* background-color: rgba(0, 0, 0, 0.514); */
   border: 2px solid rgba(255, 255, 255, 0);
   border-radius: 10px;
   z-index: 999;
   overflow: visible;
}

.backdrop-card-front {
   height: 100%;
   width: 100%;
   position: absolute;
   transition: all .25s;
   border-radius: 10px;
   border-color: rgba(0, 0, 0, 0);
}

/* FRONT OF CARD ELEMENTS */
.card-front {
   display: flex;
   /* justify-content: center; */
   /* align-items: center; */
   height: 100%;
}

.project-name {
   z-index: 999;
   color: rgb(202, 202, 202);
   height: 6vh;
   position: relative;
   top: 40%;
   /* transform: translate(-50%, -50%); */
   font-size: 3vw;
   font-weight: bold;
   letter-spacing: 0vw;
   background: #1B1B1B;
   padding: 1%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-radius: 0px;
   pointer-events: none;
   text-transform: uppercase;
}

/* BACK OF CARD ELEMENTS */
.card-back {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   /* height: 100%; */
   /* width: 100%; */
   border-radius: 20px;
   background: rgb(27, 27, 27);
 
   border: 3px solid rgba(70, 70, 70, 0);
   /* border: none; */
   padding: 4%;
   color: rgb(206, 63, 63) !important;
}

.card-back-text-wrap-flex {
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   width: 100%;   
   height: 100%;
   color: rgb(255, 255, 255) !important;
   /* border: 2px dashed rgb(95, 95, 95);  */
}

.card-back-flex-item {
   flex: 1;
   border-radius: 20px;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   /* border: 2px dashed rgb(95, 95, 95); */
}

.cb-2 {
   font-size: 2vw;
   color: grey;
}

.project-link {
   transition: color .5s, transform .5s, opacity .25s;
   color: cyan;
   font-size: 2vw;
   opacity: .3;

}
 
.project-link:hover {
   color:cyan;
   transform: translateY(-5%);
   opacity: 1;
}

.return-icon {
   max-height: 15%;
   min-height: 60px;
   cursor: pointer;
   position: absolute;
   right: 8%;
   top: 5%;
   filter: invert(85%);
   z-index: 9999999;
   transition: all .15s;
   -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
	        animation: heartbeat 2.5s ease-in-out infinite both;
}

.return-icon:hover {
   opacity: 0.99 ;
}

@-webkit-keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

 @keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
 
@-webkit-keyframes heartbeat {
   from {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-transform-origin: center center;
             transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   10% {
     -webkit-transform: scale(0.91);
             transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   17% {
     -webkit-transform: scale(0.98);
             transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   33% {
     -webkit-transform: scale(0.87);
             transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   45% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
 }
 @keyframes heartbeat {
   from {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-transform-origin: center center;
             transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   10% {
     -webkit-transform: scale(0.91);
             transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   17% {
     -webkit-transform: scale(0.98);
             transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   33% {
     -webkit-transform: scale(0.87);
             transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   45% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
 }
 