.about-card-wrapper-flex {
   width: 100%;
   display: flex; 
   align-items: center;
   flex-direction: column;
   padding: 2%;
   overflow: visible;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.about-card-flex-item {
   overflow: visible;
   transition: all .2s;
   color: rgb(105, 105, 105);
   font-size: 3vw;
   width: 96%;
   z-index: 99999999999999999999999999999999;
   height: 6vh;
   margin-top: 1%;
   background: rgb(70, 70, 70);
   font-weight: bold;
   text-transform: uppercase;
   padding: 2%;
   transition: all .5s; 
   border-radius: 10px !important;
}

.about-card-flex-item:hover {
   color: white;
   font-weight: bold;
   height: 8vh;
   border-radius: 20px;
   animation: none !important;
   background: black;
   transition: all .5s;
}

.about-card-flex-items1and2:hover {
   font-weight: bold;
   height: 12vh;
   border-radius: 20px;
   animation: none !important;
   background: black;
   border-radius:5px;
   transition: all .5s;
}

.about-card-flex-items3:hover {
   font-weight: bold;
   height: 14vh;
   border-radius: 20px;
   animation: none !important;
   background: black;
   border-radius:5px;
   transition: all .5s;
}

.about-card-flex-items3:hover > span {
   font-size: .35em;
}

::-webkit-full-page-media, _:future, :root .about-card-flex-items3{
   font-size: 2.7vw;
}

::-webkit-full-page-media, _:future, :root .about-card-flex-items1and2 {
   font-size: 2.5vw;
}

.about-card-flex-item span {
   font-size: 1.1vw;
   font-style: italic;
   text-align: right;
   text-align: center;
   color: grey;
   transition: all .5s;
   opacity: 0;
   white-space: normal;
   display: none;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.about-card-flex-item:hover > span {
   color: rgb(223, 41, 41);
   color: rgb(0, 255, 255);
   visibility: visible;
   opacity: 1;
   display: inline;
   -webkit-animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation-delay: .2s;
}

.tiny-text {
   font-size: .5vw;
   color: white;
   opacity: 1;
}

.contactCTA {
   font-size: 25px !important;
   color: rgb(0, 255, 0) !important;
   cursor: pointer;
}

@-webkit-keyframes fade-in {
   0% {
   opacity: 0;
   }
   100% {
   opacity: 1;
   }
}

@keyframes fade-in {
   0% {
   opacity: 0;
   }
   100% {
   opacity: 1;
   }
}
