.about-card-wrapper-flex {
   position: relative;  
   /* border: 2px solid green; */
   height: 80%;
   width: 85%;
   display: flex; 
   justify-content: center;
   /* align-items: center; */
   flex-direction: column;
   /* padding-left: 30%; */
   /* background-color: rgba(31, 31, 31); */
   border-radius: 20px;
   ;
}

.about-card-flex-item {
   transition: all .2s;
   color: rgb(105, 105, 105);
   font-size: 3vw;
   background: black;
   font-weight: bold;
   text-transform: uppercase;
}

.about-card-flex-item:hover {
   color: white;
   font-weight: bold;
   transform: scale(1.025);
   animation: none !important;
   border-radius:5px;
}

.about-card-flex-item span {
   font-size: 1.1vw;
   font-style: italic;
   filter: brightness(.5);
   text-align: right;
   text-align: center;
   color: grey;
   transition: all .5s;
   opacity: 0;
}

.about-card-flex-item:hover > span {
   color: rgb(223, 41, 41);
   color: rgb(0, 255, 234);
   visibility: visible;
   opacity: 1;
}
