.contact-card-wrapper {
   position: relative;  
   height: 80%;
   width: 85%;
   top: 20%;
   display: flex; 
   justify-content: center;
   flex-direction: column;
   border-radius: 20px;
   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.contact-link {
   color: rgb(105, 105, 105);
   font-size: 3vw;
   width: 17vw;
   margin-left: 5%;
   height: 6vh;
   background: rgb(70, 70, 70);
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 1%;
   padding: 2%;
   transition: all 1s;
}

::-webkit-full-page-media, _:future, :root .linked-in-link {
    font-size: 2.5vw;
}

.contact-link:hover {
   color: rgb(255, 255, 255);
   font-weight: bold;
   width: 39vw;
   height: 6vh;
   background-color: black;
   animation: none !important;
   transition: all .25s;
   border-radius:5px;
}

.email-link:hover {
   width: 30vw;
}

.github-link:hover {
   width: 28vw;
}

.contact-link span {
   font-size: 1vw;
   font-style: italic;
   text-align: right;
   text-align: center;
   color: grey;
   /* transition: all 5s; */
   opacity: 0;
   -webkit-animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   display: none;
}

.contact-link:hover > span {
   color: rgb(223, 41, 41);
  color: rgb(0, 255, 255);
  opacity: 1;
  display: inline;
  visibility: visible;
  -webkit-animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: .25s;  

}

@-webkit-keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

@keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
 